<div ng-controller="EditList as editList" class="container">
    <div class="col-xs-6">
        <h4>Item List</h4>
        <div class="item-group">
            <div class="input-group">
                <input type="text" ng-model="editList.search" class="form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="editList.addItem()"><i class="fa fa-plus"></i></button>
                </span>
            </div>
        </div>
        <div class="item-group">
            <div
                    ng-repeat="item in editList.items | toArray | filter:editList.search | orderBy:'name'"
                    ng-click="editList.editItem(item.$key)"
                    ng-class="{'selected':editList.selectedItemIndex == item.$key}"
                    class="row item-row selectable">
                <div><strong>{{item.name}}</strong></div>
                <div>{{editList.storageAreas[item.storageAreaID].name}}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <h4>Edit Item</h4>
        <div class="item-group" ng-hide="editList.selectedItemIndex !== null">
            <i>No Item Selected.</i>
        </div>
        <form ng-show="editList.selectedItemIndex !== null">
            <div class="item-group">
                <label for="edit-item-name">Name</label>
                <input type="text" id="edit-item-name" class="form-control" placeholder="Name" ng-model="editList.selectedItem.name" />
            </div>
            <div class="item-group">
                <label for="edit-item-storage-area">Storage Area</label>
                <select id="edit-item-storage-area" class="form-control" ng-model="editList.selectedItem.storageAreaID">
                    <option ng-repeat="option in editList.storageAreas | toArray | orderBy:'name'" value="{{option.$key}}">{{option.name}}</option>
                </select>
            </div>
            <div class="item-group">
                <button type="submit" class="btn btn-primary" ng-click="editList.save()">Save</button>
                <button class="btn btn-danger" ng-click="editList.remove()">Remove</button>
            </div>
        </form>
    </div>
</div>
