<div ng-controller="History as history" class="container">
    <div class="container-fluid">
        <div class="item-group">
            <div ng-repeat="log in history.logList | toArray | orderBy:'dateTime':true" class="row item-row">
                <div><strong>{{log.location}} ({{log.dateString}})</strong></div>
                <div ng-repeat="item in log.itemList">
                    - {{item.quantity}} {{history.items[item.itemID].name}}
                </div>
                <div class="list-price"><i>Total cost of the run: ${{log.price}}</i></div>
                <div class="remove-item">
                    <a href="" ng-click="history.removeList(log)"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>