<div ng-controller="History as history" class="container">
    <div class="container-fluid">
        <div class="item-group">
            <div ng-repeat="log in history.logList | toArray | orderBy:'dateTime':true" class="row item-row">
                <div><strong>{{log.location}} ({{log.dateString}})</strong></div>
                <div ng-repeat="item in log.itemList">
                    - {{item.quantity}} {{history.items[item.itemID].name}}
                </div>
            </div>
        </div>
    </div>
</div>