<div id="login-panel" ng-controller="Login as login" class="container">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <form ng-submit="login.login()">
                <div class="panel-body">
                    <div class="form-group row">
                        <img src="assets/LoginLogo.png" class="img-responsive" id="login-logo" />
                    </div>
                    <div class="form-group">
                        <label>User</label>
                        <select id="loginUserSelect" class="form-control" ng-options="option.name for option in login.userList" ng-model="login.user"></select>
                    </div>
                    <div class="form-group" ng-class="{'has-error':login.badPassword}">
                        <label for="loginPassword">Password</label>
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-disabled="!login.needsPassword()" ng-model="login.password" />
                    </div>
                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Login" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>