<div class="modal-header">
    <h4>Add a New Item</h4>
</div>
<div class="modal-body">
    <form>
        <div class="item-group">
            <label for="add-item-name">Name</label>
            <input type="text" id="add-item-name" class="form-control" placeholder="Name" ng-model="addModal.name" />
        </div>
        <div class="item-group">
            <label for="add-item-quantity">Quantity</label>
            <input type="number" id="add-item-quantity" class="form-control" placeholder="Quantity" ng-model="addModal.quantity" />
        </div>
        <div class="item-group">
            <label for="add-item-storage-area">Storage Area</label>
            <select id="add-item-storage-area" class="form-control" ng-model="addModal.storageAreaID">
                <option ng-repeat="option in addModal.storageAreas | toArray | orderBy:'name'" value="{{option.$key}}">{{option.name}}</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="addModal.addItem()" class="btn btn-primary">Add</button>
</div>