<div ng-controller="History as history" class="container">
    <div class="container-fluid">
        <!--<div class="row header-item-row">-->
            <!--<div class="col-xs-3"><strong>Date</strong></div>-->
            <!--<div class="col-xs-5"><strong>Item</strong></div>-->
            <!--<div class="col-xs-2"><strong>Quantity</strong></div>-->
            <!--<div class="col-xs-2"><strong>Cost</strong></div>-->
        <!--</div>-->
        <h1>History</h1>
    </div>
    <!--<div class="container-fluid">-->
        <!--<div class="row item-row" ng-repeat="event in log.logList">-->
            <!--<div class="col-xs-3">{{event.date}}</div>-->
            <!--<div class="col-xs-5">{{event.item}}</div>-->
            <!--<div class="col-xs-2">{{event.quantity}}</div>-->
            <!--<div class="col-xs-2">${{event.cost}}</div>-->
        <!--</div>-->
    <!--</div>-->
</div>